[submodule "nvim/friendly-snippets"]
	path = nvim/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "nvim/nvim/friendly-snippets"]
	path = nvim/nvim/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
