zmodule environment
zmodule input
zmodule termtitle
# asciishipで最後のコマンドの実行にかかった時間を表示
zmodule duration-info
zmodule git-info
zmodule eriner
# アーカイブコマンド
zmodule archive
# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
zmodule completion 
zmodule zsh-users/zsh-syntax-highlighting # sourced after completion
zmodule zsh-users/zsh-history-substring-search  # sourced after zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions 

